config PINCTRL_SUNPLUS_SP7350
	bool "Sunplus SP7350 Pinctrl and GPIO driver"
	depends on DM && TARGET_PENTAGRAM_SP7350
	select PINCTRL
	select PINCONF
	select DM_GPIO
	default y
	help
	  Support pin configuration control on Sunplus's SP7350 SoC.

	  The driver is controlled by a device tree node which contains both
	  the GPIO definitions and pin control functions.
