config PINCTRL_SUNPLUS_SP7350
	bool "Sunplus SP7350 Pinctrl and GPIO driver"
	depends on DM && TARGET_PENTAGRAM_SP7350
	select PINCTRL
	select PINCONF
	select DM_GPIO
	default y
	help
	  Support pin configuration control on Sunplus's SP7350 SoC.

	  The driver is controlled by a device tree node which contains both
	  the GPIO definitions and pin control functions.
	  
config PINCTRL_SUPPORT_GPIO_AO_INT
	bool "Sunplus pin control supports group of GPIO_AO_INT"
	depends on PINCTRL_SUNPLUS_SP7350
	help
	  Say Y if you need to use the group of GPIO_AO_INT.
	  This function is dependent on PINCTRL_SUNPLUS_SP7350. It
	  should be enabled first.